---
---

@import "{{ site.theme }}";

body {
    background-color: #ffffff;
}

h1 {
    border-bottom:1px solid #CCC;
    padding-bottom:3px;
}

h1.main-content {
    border-bottom:1px solid #CCC;
    padding-bottom:3px;
}

h2.main-content {
    border-bottom:1px solid #CCC;
    padding-bottom:3px;
}

.page-header {
  background-image: linear-gradient(#2b323f, #2b323f);
  box-shadow: 0px 10px 25px grey;
}

.main-content {
    background-color: #ffffff;
    box-shadow: 0px 0px 100px #e1e5eb;
}

ul {
  margin-bottom: 15px;
}

a {
    color: #2b323f;
}

.break {
    position: absolut;
    left: - 100px;
    width: 1000px;
    box-shadow: 0px 5px 5px grey;
}

.sidebar {
    position: fixed;
    left: 0px;
    top: 0px;
    
    width: 200px;
    height: 100%;
    background-color: #e1e5eb;
    visibility: visible;
}

h2.sidebar {
    color: #66ffe0;
}

@media only screen and (max-width: 1445px) {
    .sidebar {
        visibility: hidden;
    }
}
